<p id="notice"><%= notice %></p>

<%= image_tag gravatar_url(@lead.email) %>

<p>
  <strong>Company:</strong>
  <%= @lead.company %>
</p>

<p>
  <strong>Email:</strong>
  <% if @lead.email.present? %>
      <%= mail_to @lead.email %>˚
  <% else %>
      <%= @lead.email %>
  <% end %>
</p>
